{% extends 'core/base.html' %}

{% block body %}
<br>
<div class="jumbotron">
  <h2>Active Contacts</h2>
  <p> - Established in the year 2015, Active Contacts is a top key player in the category Database Providers.<br>
    - Headquarter in Kolkata, we also branches in Delhi and Bangalore.<br>
    - We provide our services with our team Professionals to serve globally.
  </p>
</div>

<div class="jumbotron">
  <h2>Quality Data</h2>
  <p>
    - We provide Active Contacts to help you to connect the right audience according to the demand of
      your products and services which raises your ROI ratio for long-term.<br>
    - Our best prospecting tool provides instant access to millions of verified Active contacts.
  </p>
</div>

<div class="jumbotron">
  <h2>Core Strengths</h2>
  <p>
    - Our team consists of experienced software developers, marketers, researchers and passionate employees,<br>
      all committed to supplying the most reliable data to drive marketing, sales, and hiring efforts.
  </p>
</div>

{% endblock %}
