{% extends 'core/base.html' %}

{% block head %}
<style media="screen">
  .card-header {
      background-color: rgba(156, 161, 51, 0.48);
      font-weight: 700;
  }
</style>
{% endblock %}

{% block body %}
<div class = "row">
  <div class="col-sm-4">
    <div class="card mt-3" >
      <div class="card-header">
        Database Providing
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Providing database is one of our prime services.
          We provide B2B/B2C data based on your need.  We also help you to understand the right target market list.
          We maintain worldwide database to serve globally. We Provide Data By Job Titles/Functions, Data By Geography,
          Data By Industry Segments/Sectors, Data By Company and many other categories.
        </li>
        <li class="list-group-item">
          List includes with:  Contact name, Company name, Address, Phone number, Email address, etc
        </li>
        <li class="list-group-item">
          We update our lists every 60 days to ensure Contacts are Active.
        </li>
      </ul>
    </div>
  </div>
  <div class="col-sm-4">
    <div class="card mt-3" >
      <div class="card-header">
        Lead Generation
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          Our Leads Generation Teams are very specialized and customized in Generating leads for you.
          We assure maximum conversion from our team for your products and
          services because of our professional pitches and Conversion skills each of Campaign members have.
        </li>
        <li class="list-group-item">
          We provide Email campaign and phone campaign services.
        </li>
      </ul>
    </div>
</div>

<div class="col-sm-4">
  <div class="card mt-3" >
    <div class="card-header">
      Audience Generation
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        This fast world connecting to the right target audiences is more important,
        it saves lots of time and energy. Our Team experts first study the products
        and services and then give the Ideal Audience for you.
      </li>
      <li class="list-group-item">
      We make the lists of target Titles/Functions and Target Sectors/Segments to
      give more ways to have an idea what will be right to choose as target audience.
      </li>
    </ul>
  </div>
</div>
<div class="col-sm-4">
  <div class="card mt-3" >
    <div class="card-header">
      Website Design and Development
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        The design of website with complete quality content makes your visitors more
        attractive and surely gives somewhere interest.
      </li>
      <li class="list-group-item">
        We give best presentation and content writing of your products and services.
        We provide complete assistance for upgrading and any changes.
      </li>
    </ul>
  </div>
</div>

<div class="col-sm-4">
  <div class="card mt-3" >
    <div class="card-header">
      IT Services
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">
        Application Development
      </li>
      <li class="list-group-item">
        Reviewing Services
      </li>
      <li class="list-group-item">
        Share hosting Services
      </li>
    </ul>
  </div>
</div>

</div>
{% endblock %}
